$MobileS: 320px;
$MobileM: 375px;
$MobileL: 425px;
$Tablet: 768px;
$Laptop: 1024px;
$LaptopL: 1420px;
$FourK: 2560px;

body, html {
	background-color: lightgrey;
}
#game {
	box-shadow: 0 0 10pt 5pt #333333;
	background-color: black;
	div {
		position: relative;
	}
	#color1 {
		background-color: red;
		display: inline-block;
		position: relative;
		z-index: 1;
	}
	#color2 {
		background-color: blue;
		display: inline-block;
		position: relative;
		z-index: 1;
	}
	#color3 {
		background-color: yellow;
		display: inline-block;
		position: relative;
		z-index: 1;
	}
	#color4 {
		background-color: green;
		display: inline-block;
		position: relative;
		z-index: 1;
	}
}
#centerDisk {
	z-index: 4;
	background-color: black;
	position: absolute;
	display: block;
	box-shadow: 0 0 5pt 3pt;
}
#footer {
	text-align: center;
	width: 100vw;
	height: 10vh;
	position: fixed;
	bottom: 0;
	background-color: grey;
}

@media only screen and (min-width: $MobileS) {
	#game {
		margin-top: 25vh;
		width: 100vw;
		height: 100vw;
		border-radius: 100vh;
		div {
			width: 49vw;
			height: 49vw;
		}
		#color1 {
			border-radius: 50vw 0 0 0;
			margin-top: 2pt;
		}
		#color2 {
			border-radius: 0 50vw 0 0;
			margin-top: 2pt;
		}
		#color3 {
			border-radius: 0 0 50vw 0;
			margin-top: -11vh;
		}
		#color4 {
			border-radius: 0 0 0 50vw;
			margin-top: -11vh;
		}
	}
	#centerDisk {
		width: 50vw;
		height: 50vw;
		border-radius: 50vw;
		margin: -11vh auto 0 auto;
	}
}
@media only screen and (min-width: $MobileM) {
	#game {
		margin-top: 20vh;
		width: 100vw;
		height: 100vw;
		border-radius: 100vh;
		div {
			width: 49vw;
			height: 49vw;
		}
		#color1 {
			border-radius: 50vw 0 0 0;
			margin-top: 2pt;
		}
		#color2 {
			border-radius: 0 50vw 0 0;
			margin-top: 2pt;
		}
		#color3 {
			border-radius: 0 0 50vw 0;
			margin-top: -13vh;
		}
		#color4 {
			border-radius: 0 0 0 50vw;
			margin-top: -13vh;
		}
	}
	#centerDisk {
		width: 50vw;
		height: 50vw;
		border-radius: 50vw;
		margin: -13vh auto 0 auto;
	}
}
@media only screen and (min-width: $MobileL) {
	#game {
		//margin-top: 20vh;
		width: 90vw;
		height: 90vw;
		border-radius: 100vh;
		margin: 20vh auto 0 auto;
		div {
			width: 44vw;
			height: 44vw;
		}
		#color1 {
			border-radius: 50vw 0 0 0;
			margin-top: 2pt;
		}
		#color2 {
			border-radius: 0 50vw 0 0;
			margin-top: 2pt;
		}
		#color3 {
			border-radius: 0 0 50vw 0;
			margin-top: -14vh;
		}
		#color4 {
			border-radius: 0 0 0 50vw;
			margin-top: -14vh;
		}
	}
	#centerDisk {
		width: 40vw;
		height: 40vw;
		border-radius: 50vw;
		margin: -13vh auto 0 auto;
	}
}
@media only screen and (min-width: $Tablet) {
	#game {
		margin-top: 10vh;
		width: 60vw;
		height: 60vw;
		border-radius: 100vh;
		div {
			width: 29vw;
			height: 29vw;
		}
		#color1 {
			border-radius: 50vw 0 0 0;
			margin-top: 4pt;
			margin-left: 2pt;
		}
		#color2 {
			border-radius: 0 50vw 0 0;
			margin-top: 4pt;
		}
		#color3 {
			border-radius: 0 0 50vw 0;
			margin-top: -15vh;
		}
		#color4 {
			border-radius: 0 0 0 50vw;
			margin-top: -15vh;
			margin-left: 2pt;
		}
	}
	#centerDisk {
		width: 50vw;
		height: 50vw;
		border-radius: 50vw;
		margin: -16vh auto 0 auto;
	}
}
@media only screen and (min-width: $Laptop) {
	#game {
		margin-top: 10vh;
		width: 60vw;
		height: 60vw;
		border-radius: 100vh;
		div {
			width: 29vw;
			height: 29vw;
		}
		#color1 {
			border-radius: 50vw 0 0 0;
			margin-top: 4pt;
			margin-left: 4pt;
		}
		#color2 {
			border-radius: 0 50vw 0 0;
			margin-top: 4pt;
		}
		#color3 {
			border-radius: 0 0 50vw 0;
			margin-top: -15vh;
		}
		#color4 {
			border-radius: 0 0 0 50vw;
			margin-top: -15vh;
			margin-left: 4pt;
		}
	}
	#centerDisk {
		width: 50vw;
		height: 50vw;
		border-radius: 50vw;
		margin: -16vh auto 0 auto;
	}
}
@media only screen and (min-width: $LaptopL) {
	#game {
		margin-top: 10vh;
		width: 50vw;
		height: 50vw;
		border-radius: 100vh;
		div {
			width: 24vw;
			height: 24vw;
		}
		#color1 {
			border-radius: 50vw 0 0 0;
			margin-top: 6pt;
			margin-left: 6pt;
		}
		#color2 {
			border-radius: 0 50vw 0 0;
			margin-top: 6pt;
		}
		#color3 {
			border-radius: 0 0 50vw 0;
			margin-top: -16vh;
		}
		#color4 {
			border-radius: 0 0 0 50vw;
			margin-top: -16vh;
			margin-left: 6pt;
		}
	}
	#centerDisk {
		width: 50vw;
		height: 50vw;
		border-radius: 50vw;
		margin: -17vh auto 0 auto;
	}
}
@media only screen and (min-width: $FourK) {
	#game {
		margin-top: 10vh;
		width: 50vw;
		height: 50vw;
		border-radius: 100vh;
		div {
			width: 24vw;
			height: 24vw;
		}
		#color1 {
			border-radius: 50vw 0 0 0;
			margin-top: 20pt;
			margin-left: 15pt;
		}
		#color2 {
			border-radius: 0 50vw 0 0;
			margin-top: 20pt;
		}
		#color3 {
			border-radius: 0 0 50vw 0;
			margin-top: -16vh;
		}
		#color4 {
			border-radius: 0 0 0 50vw;
			margin-top: -16vh;
			margin-left: 15pt;
		}
	}
	#centerDisk {
		width: 50vw;
		height: 50vw;
		border-radius: 50vw;
		margin: -15vh auto 0 auto;
	}
}
